body {
    font-family: Arial, sans-serif;
    background-color: #3c3836;
    padding: 20px;
    color: #ebdbb2;
}

h1,
h2 {
    color: #8ec07c;
}

form {
    padding: 20px;
    border-radius: 8px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #504945;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.form-section {
    margin-bottom: 15px;
}

.form-section label {
    display: block;
    margin-bottom: 5px;
    color: #d79921;
}

.form-section input[type="text"],
.form-section input[type="number"],
.form-section input[type="date"],
.form-section input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #8ec07c;
    border-radius: 5px;
    background-color: #3c3836;
    color: #ebdbb2;
}

.submit-btn {
    background-color: #8ec07c;
    color: #3c3836;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
}

.submit-btn.enabled {
    cursor: pointer;
}

.submit-btn:hover:enabled {
    background-color: #b8bb26;
}
